<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="PMSEntities" connectionString="metadata=res://*/PMModel.csdl|res://*/PMModel.ssdl|res://*/PMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PMS;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>